
<!-- 生成订单 -->
<div id="order" style="display:none;">
	
		<img src="/static/index/images/goods/order.png">
		<table width="400" cellpadding="1" cellspacing="1" border="1px solid #DDDDDD" style="margin-left: 300px;border: 1px solid #DDDDDD">
			<tr>
				<td width="30%">订单编号：</td>
				<td><span id="d1"></span></td>
			</tr>
			<tr>
				<td width="30%">订单金额：</td>
				<td><span id="d2"></span></td>
			</tr>
			<tr>
				<td width="30%">收货人：</td>
				<td><span id="d3"></span></td>
			</tr>
			<tr>
				<td width="30%">下单时间：</td>
				<td><span id="d4"></span></td>
			</tr>

		</table>

		<div class="calculation">
			<div style="margin-right: 500px;"><a href="javascript:void(0)" id="py">立即支付</a></div>
			
		</div>
		
	</div>
</div>