.aircorp-logo-00 { width:28px; height:28px; background: url(../images/00.gif) no-repeat top left;}
.aircorp-logo-0B { width:28px; height:28px; background: url(../images/0b.gif) no-repeat top left;}
.aircorp-logo-2L { width:28px; height:28px; background: url(../images/2l.gif) no-repeat top left;}
.aircorp-logo-2M { width:28px; height:28px; background: url(../images/2m.gif) no-repeat top left;}
.aircorp-logo-2P { width:28px; height:28px; background: url(../images/2p.gif) no-repeat top left;}
.aircorp-logo-2W { width:28px; height:28px; background: url(../images/2w.gif) no-repeat top left;}
.aircorp-logo-3K { width:28px; height:28px; background: url(../images/3k.gif) no-repeat top left;}
.aircorp-logo-3Q { width:28px; height:28px; background: url(../images/3q.gif) no-repeat top left;}
.aircorp-logo-3U { width:28px; height:28px; background: url(../images/3u.gif) no-repeat top left;}
.aircorp-logo-4L { width:28px; height:28px; background: url(../images/4l.gif) no-repeat top left;}
.aircorp-logo-5G { width:28px; height:28px; background: url(../images/5g.gif) no-repeat top left;}
.aircorp-logo-5J { width:28px; height:28px; background: url(../images/5j.gif) no-repeat top left;}
.aircorp-logo-5L { width:28px; height:28px; background: url(../images/5l.gif) no-repeat top left;}
.aircorp-logo-5P { width:28px; height:28px; background: url(../images/5p.gif) no-repeat top left;}
.aircorp-logo-6G { width:28px; height:28px; background: url(../images/6g.gif) no-repeat top left;}
.aircorp-logo-6U { width:28px; height:28px; background: url(../images/6u.gif) no-repeat top left;}
.aircorp-logo-6V { width:28px; height:28px; background: url(../images/6v.gif) no-repeat top left;}
.aircorp-logo-7D { width:28px; height:28px; background: url(../images/7d.gif) no-repeat top left;}
.aircorp-logo-7F { width:28px; height:28px; background: url(../images/7f.gif) no-repeat top left;}
.aircorp-logo-8A { width:28px; height:28px; background: url(../images/8a.gif) no-repeat top left;}
.aircorp-logo-8B { width:28px; height:28px; background: url(../images/8b.gif) no-repeat top left;}
.aircorp-logo-8F { width:28px; height:28px; background: url(../images/8f.gif) no-repeat top left;}
.aircorp-logo-8G { width:28px; height:28px; background: url(../images/8g.gif) no-repeat top left;}
.aircorp-logo-8I { width:28px; height:28px; background: url(../images/8i.gif) no-repeat top left;}
.aircorp-logo-8J { width:28px; height:28px; background: url(../images/8j.gif) no-repeat top left;}
.aircorp-logo-8M { width:28px; height:28px; background: url(../images/8m.gif) no-repeat top left;}
.aircorp-logo-8O { width:28px; height:28px; background: url(../images/8o.gif) no-repeat top left;}
.aircorp-logo-8P { width:28px; height:28px; background: url(../images/8p.gif) no-repeat top left;}
.aircorp-logo-8U { width:28px; height:28px; background: url(../images/8u.gif) no-repeat top left;}
.aircorp-logo-9R { width:28px; height:28px; background: url(../images/9r.gif) no-repeat top left;}
.aircorp-logo-9U { width:28px; height:28px; background: url(../images/9u.gif) no-repeat top left;}
.aircorp-logo-A3 { width:28px; height:28px; background: url(../images/a3.gif) no-repeat top left;}
.aircorp-logo-A4 { width:28px; height:28px; background: url(../images/a4.gif) no-repeat top left;}
.aircorp-logo-A5 { width:28px; height:28px; background: url(../images/a5.gif) no-repeat top left;}
.aircorp-logo-A6 { width:28px; height:28px; background: url(../images/a6.gif) no-repeat top left;}
.aircorp-logo-A7 { width:28px; height:28px; background: url(../images/a7.gif) no-repeat top left;}
.aircorp-logo-A9 { width:28px; height:28px; background: url(../images/a9.gif) no-repeat top left;}
.aircorp-logo-AA { width:28px; height:28px; background: url(../images/aa.gif) no-repeat top left;}
.aircorp-logo-AB { width:28px; height:28px; background: url(../images/ab.gif) no-repeat top left;}
.aircorp-logo-AC { width:28px; height:28px; background: url(../images/ac.gif) no-repeat top left;}
.aircorp-logo-AE { width:28px; height:28px; background: url(../images/ae.gif) no-repeat top left;}
.aircorp-logo-AF { width:28px; height:28px; background: url(../images/af.gif) no-repeat top left;}
.aircorp-logo-AH { width:28px; height:28px; background: url(../images/ah.gif) no-repeat top left;}
.aircorp-logo-AI { width:28px; height:28px; background: url(../images/ai.gif) no-repeat top left;}
.aircorp-logo-AK { width:28px; height:28px; background: url(../images/ak.gif) no-repeat top left;}
.aircorp-logo-AM { width:28px; height:28px; background: url(../images/am.gif) no-repeat top left;}
.aircorp-logo-AO { width:28px; height:28px; background: url(../images/ao.gif) no-repeat top left;}
.aircorp-logo-AP { width:28px; height:28px; background: url(../images/ap.gif) no-repeat top left;}
.aircorp-logo-AQ { width:28px; height:28px; background: url(../images/aq.gif) no-repeat top left;}
.aircorp-logo-AR { width:28px; height:28px; background: url(../images/ar.gif) no-repeat top left;}
.aircorp-logo-AS { width:28px; height:28px; background: url(../images/as.gif) no-repeat top left;}
.aircorp-logo-AT { width:28px; height:28px; background: url(../images/at.gif) no-repeat top left;}
.aircorp-logo-AY { width:28px; height:28px; background: url(../images/ay.gif) no-repeat top left;}
.aircorp-logo-AZ { width:28px; height:28px; background: url(../images/az.gif) no-repeat top left;}
.aircorp-logo-B2 { width:28px; height:28px; background: url(../images/b2.gif) no-repeat top left;}
.aircorp-logo-B3 { width:28px; height:28px; background: url(../images/b3.gif) no-repeat top left;}
.aircorp-logo-B6 { width:28px; height:28px; background: url(../images/b6.gif) no-repeat top left;}
.aircorp-logo-B7 { width:28px; height:28px; background: url(../images/b7.gif) no-repeat top left;}
.aircorp-logo-B8 { width:28px; height:28px; background: url(../images/b8.gif) no-repeat top left;}
.aircorp-logo-BA { width:28px; height:28px; background: url(../images/ba.gif) no-repeat top left;}
.aircorp-logo-BC { width:28px; height:28px; background: url(../images/bc.gif) no-repeat top left;}
.aircorp-logo-BD { width:28px; height:28px; background: url(../images/bd.gif) no-repeat top left;}
.aircorp-logo-BE { width:28px; height:28px; background: url(../images/be.gif) no-repeat top left;}
.aircorp-logo-BG { width:28px; height:28px; background: url(../images/bg.gif) no-repeat top left;}
.aircorp-logo-BI { width:28px; height:28px; background: url(../images/bi.gif) no-repeat top left;}
.aircorp-logo-BL { width:28px; height:28px; background: url(../images/bl.gif) no-repeat top left;}
.aircorp-logo-BP { width:28px; height:28px; background: url(../images/bp.gif) no-repeat top left;}
.aircorp-logo-BR { width:28px; height:28px; background: url(../images/br.gif) no-repeat top left;}
.aircorp-logo-BT { width:28px; height:28px; background: url(../images/bt.gif) no-repeat top left;}
.aircorp-logo-BW { width:28px; height:28px; background: url(../images/bw.gif) no-repeat top left;}
.aircorp-logo-BX { width:28px; height:28px; background: url(../images/bx.gif) no-repeat top left;}
.aircorp-logo-BY { width:28px; height:28px; background: url(../images/by.gif) no-repeat top left;}
.aircorp-logo-C6 { width:28px; height:28px; background: url(../images/c6.gif) no-repeat top left;}
.aircorp-logo-C7 { width:28px; height:28px; background: url(../images/c7.gif) no-repeat top left;}
.aircorp-logo-C9 { width:28px; height:28px; background: url(../images/c9.gif) no-repeat top left;}
.aircorp-logo-CA { width:28px; height:28px; background: url(../images/ca.gif) no-repeat top left;}
.aircorp-logo-CB { width:28px; height:28px; background: url(../images/cb.gif) no-repeat top left;}
.aircorp-logo-CE { width:28px; height:28px; background: url(../images/ce.gif) no-repeat top left;}
.aircorp-logo-CF { width:28px; height:28px; background: url(../images/cf.gif) no-repeat top left;}
.aircorp-logo-CI { width:28px; height:28px; background: url(../images/ci.gif) no-repeat top left;}
.aircorp-logo-CJ { width:28px; height:28px; background: url(../images/cj.gif) no-repeat top left;}
.aircorp-logo-CO { width:28px; height:28px; background: url(../images/co.gif) no-repeat top left;}
.aircorp-logo-CQ { width:28px; height:28px; background: url(../images/cq.gif) no-repeat top left;}
.aircorp-logo-CU { width:28px; height:28px; background: url(../images/cu.gif) no-repeat top left;}
.aircorp-logo-CX { width:28px; height:28px; background: url(../images/cx.gif) no-repeat top left;}
.aircorp-logo-CY { width:28px; height:28px; background: url(../images/cy.gif) no-repeat top left;}
.aircorp-logo-CZ { width:28px; height:28px; background: url(../images/cz.gif) no-repeat top left;}
.aircorp-logo-DB { width:28px; height:28px; background: url(../images/db.gif) no-repeat top left;}
.aircorp-logo-DF { width:28px; height:28px; background: url(../images/df.gif) no-repeat top left;}
.aircorp-logo-DJ { width:28px; height:28px; background: url(../images/dj.gif) no-repeat top left;}
.aircorp-logo-DL { width:28px; height:28px; background: url(../images/dl.gif) no-repeat top left;}
.aircorp-logo-DM { width:28px; height:28px; background: url(../images/dm.gif) no-repeat top left;}
.aircorp-logo-DP { width:28px; height:28px; background: url(../images/dp.gif) no-repeat top left;}
.aircorp-logo-DT { width:28px; height:28px; background: url(../images/dt.gif) no-repeat top left;}
.aircorp-logo-DU { width:28px; height:28px; background: url(../images/du.gif) no-repeat top left;}
.aircorp-logo-DY { width:28px; height:28px; background: url(../images/dy.gif) no-repeat top left;}
.aircorp-logo-E3 { width:28px; height:28px; background: url(../images/e3.gif) no-repeat top left;}
.aircorp-logo-ED { width:28px; height:28px; background: url(../images/ed.gif) no-repeat top left;}
.aircorp-logo-EF { width:28px; height:28px; background: url(../images/ef.gif) no-repeat top left;}
.aircorp-logo-EI { width:28px; height:28px; background: url(../images/ei.gif) no-repeat top left;}
.aircorp-logo-EK { width:28px; height:28px; background: url(../images/ek.gif) no-repeat top left;}
.aircorp-logo-EL { width:28px; height:28px; background: url(../images/el.gif) no-repeat top left;}
.aircorp-logo-ET { width:28px; height:28px; background: url(../images/et.gif) no-repeat top left;}
.aircorp-logo-EY { width:28px; height:28px; background: url(../images/ey.gif) no-repeat top left;}
.aircorp-logo-F9 { width:28px; height:28px; background: url(../images/f9.gif) no-repeat top left;}
.aircorp-logo-FB { width:28px; height:28px; background: url(../images/fb.gif) no-repeat top left;}
.aircorp-logo-FI { width:28px; height:28px; background: url(../images/fi.gif) no-repeat top left;}
.aircorp-logo-FJ { width:28px; height:28px; background: url(../images/fj.gif) no-repeat top left;}
.aircorp-logo-FL { width:28px; height:28px; background: url(../images/fl.gif) no-repeat top left;}
.aircorp-logo-FM { width:28px; height:28px; background: url(../images/fm.gif) no-repeat top left;}
.aircorp-logo-FT { width:28px; height:28px; background: url(../images/ft.gif) no-repeat top left;}
.aircorp-logo-G4 { width:28px; height:28px; background: url(../images/g4.gif) no-repeat top left;}
.aircorp-logo-G9 { width:28px; height:28px; background: url(../images/g9.gif) no-repeat top left;}
.aircorp-logo-GA { width:28px; height:28px; background: url(../images/ga.gif) no-repeat top left;}
.aircorp-logo-GE { width:28px; height:28px; background: url(../images/ge.gif) no-repeat top left;}
.aircorp-logo-GF { width:28px; height:28px; background: url(../images/gf.gif) no-repeat top left;}
.aircorp-logo-GN { width:28px; height:28px; background: url(../images/gn.gif) no-repeat top left;}
.aircorp-logo-GQ { width:28px; height:28px; background: url(../images/gq.gif) no-repeat top left;}
.aircorp-logo-GW { width:28px; height:28px; background: url(../images/gw.gif) no-repeat top left;}
.aircorp-logo-H2 { width:28px; height:28px; background: url(../images/h2.gif) no-repeat top left;}
.aircorp-logo-HA { width:28px; height:28px; background: url(../images/ha.gif) no-repeat top left;}
.aircorp-logo-HM { width:28px; height:28px; background: url(../images/hm.gif) no-repeat top left;}
.aircorp-logo-HP { width:28px; height:28px; background: url(../images/hp.gif) no-repeat top left;}
.aircorp-logo-HU { width:28px; height:28px; background: url(../images/hu.gif) no-repeat top left;}
.aircorp-logo-HY { width:28px; height:28px; background: url(../images/hy.gif) no-repeat top left;}
.aircorp-logo-IB { width:28px; height:28px; background: url(../images/ib.gif) no-repeat top left;}
.aircorp-logo-IC { width:28px; height:28px; background: url(../images/ic.gif) no-repeat top left;}
.aircorp-logo-IG { width:28px; height:28px; background: url(../images/ig.gif) no-repeat top left;}
.aircorp-logo-IN { width:28px; height:28px; background: url(../images/in.gif) no-repeat top left;}
.aircorp-logo-IR { width:28px; height:28px; background: url(../images/ir.gif) no-repeat top left;}
.aircorp-logo-IV { width:28px; height:28px; background: url(../images/iv.gif) no-repeat top left;}
.aircorp-logo-IY { width:28px; height:28px; background: url(../images/iy.gif) no-repeat top left;}
.aircorp-logo-JK { width:28px; height:28px; background: url(../images/jk.gif) no-repeat top left;}
.aircorp-logo-JL { width:28px; height:28px; background: url(../images/jl.gif) no-repeat top left;}
.aircorp-logo-JM { width:28px; height:28px; background: url(../images/jm.gif) no-repeat top left;}
.aircorp-logo-JO { width:28px; height:28px; background: url(../images/jo.gif) no-repeat top left;}
.aircorp-logo-JP { width:28px; height:28px; background: url(../images/jp.gif) no-repeat top left;}
.aircorp-logo-JQ { width:28px; height:28px; background: url(../images/jq.gif) no-repeat top left;}
.aircorp-logo-JR { width:28px; height:28px; background: url(../images/jr.gif) no-repeat top left;}
.aircorp-logo-JT { width:28px; height:28px; background: url(../images/jt.gif) no-repeat top left;}
.aircorp-logo-JU { width:28px; height:28px; background: url(../images/ju.gif) no-repeat top left;}
.aircorp-logo-KA { width:28px; height:28px; background: url(../images/ka.gif) no-repeat top left;}
.aircorp-logo-KE { width:28px; height:28px; background: url(../images/ke.gif) no-repeat top left;}
.aircorp-logo-KF { width:28px; height:28px; background: url(../images/kf.gif) no-repeat top left;}
.aircorp-logo-KL { width:28px; height:28px; background: url(../images/kl.gif) no-repeat top left;}
.aircorp-logo-MK { width:28px; height:28px; background: url(../images/mk.gif) no-repeat top left;}
.aircorp-logo-KQ { width:28px; height:28px; background: url(../images/kq.gif) no-repeat top left;}
.aircorp-logo-KU { width:28px; height:28px; background: url(../images/ku.gif) no-repeat top left;}
.aircorp-logo-KX { width:28px; height:28px; background: url(../images/kx.gif) no-repeat top left;}
.aircorp-logo-LA { width:28px; height:28px; background: url(../images/la.gif) no-repeat top left;}
.aircorp-logo-LG { width:28px; height:28px; background: url(../images/lg.gif) no-repeat top left;}
.aircorp-logo-LH { width:28px; height:28px; background: url(../images/lh.gif) no-repeat top left;}
.aircorp-logo-LO { width:28px; height:28px; background: url(../images/lo.gif) no-repeat top left;}
.aircorp-logo-LP { width:28px; height:28px; background: url(../images/lp.gif) no-repeat top left;}
.aircorp-logo-LY { width:28px; height:28px; background: url(../images/ly.gif) no-repeat top left;}
.aircorp-logo-MA { width:28px; height:28px; background: url(../images/ma.gif) no-repeat top left;}
.aircorp-logo-MB { width:28px; height:28px; background: url(../images/mb.gif) no-repeat top left;}
.aircorp-logo-MD { width:28px; height:28px; background: url(../images/md.gif) no-repeat top left;}
.aircorp-logo-ME { width:28px; height:28px; background: url(../images/me.gif) no-repeat top left;}
.aircorp-logo-MF { width:28px; height:28px; background: url(../images/mf.gif) no-repeat top left;}
.aircorp-logo-MH { width:28px; height:28px; background: url(../images/mh.gif) no-repeat top left;}
.aircorp-logo-MI { width:28px; height:28px; background: url(../images/mi.gif) no-repeat top left;}
.aircorp-logo-MK { width:28px; height:28px; background: url(../images/mk.gif) no-repeat top left;}
.aircorp-logo-MP { width:28px; height:28px; background: url(../images/mp.gif) no-repeat top left;}
.aircorp-logo-MS { width:28px; height:28px; background: url(../images/ms.gif) no-repeat top left;}
.aircorp-logo-MU { width:28px; height:28px; background: url(../images/mu.gif) no-repeat top left;}
.aircorp-logo-MX { width:28px; height:28px; background: url(../images/mx.gif) no-repeat top left;}
.aircorp-logo-NB { width:28px; height:28px; background: url(../images/nb.gif) no-repeat top left;}
.aircorp-logo-NE { width:28px; height:28px; background: url(../images/ne.gif) no-repeat top left;}
.aircorp-logo-NH { width:28px; height:28px; background: url(../images/nh.gif) no-repeat top left;}
.aircorp-logo-NK { width:28px; height:28px; background: url(../images/nk.gif) no-repeat top left;}
.aircorp-logo-NW { width:28px; height:28px; background: url(../images/nw.gif) no-repeat top left;}
.aircorp-logo-NX { width:28px; height:28px; background: url(../images/nx.gif) no-repeat top left;}
.aircorp-logo-NZ { width:28px; height:28px; background: url(../images/nz.gif) no-repeat top left;}
.aircorp-logo-OA { width:28px; height:28px; background: url(../images/oa.gif) no-repeat top left;}
.aircorp-logo-OK { width:28px; height:28px; background: url(../images/ok.gif) no-repeat top left;}
.aircorp-logo-OS { width:28px; height:28px; background: url(../images/os.gif) no-repeat top left;}
.aircorp-logo-OU { width:28px; height:28px; background: url(../images/ou.gif) no-repeat top left;}
.aircorp-logo-OV { width:28px; height:28px; background: url(../images/ov.gif) no-repeat top left;}
.aircorp-logo-OZ { width:28px; height:28px; background: url(../images/oz.gif) no-repeat top left;}
.aircorp-logo-PA { width:28px; height:28px; background: url(../images/pa.gif) no-repeat top left;}
.aircorp-logo-PG { width:28px; height:28px; background: url(../images/pg.gif) no-repeat top left;}
.aircorp-logo-PK { width:28px; height:28px; background: url(../images/pk.gif) no-repeat top left;}
.aircorp-logo-PR { width:28px; height:28px; background: url(../images/pr.gif) no-repeat top left;}
.aircorp-logo-PS { width:28px; height:28px; background: url(../images/ps.gif) no-repeat top left;}
.aircorp-logo-PX { width:28px; height:28px; background: url(../images/px.gif) no-repeat top left;}
.aircorp-logo-QF { width:28px; height:28px; background: url(../images/qf.gif) no-repeat top left;}
.aircorp-logo-QR { width:28px; height:28px; background: url(../images/qr.gif) no-repeat top left;}
.aircorp-logo-QV { width:28px; height:28px; background: url(../images/qv.gif) no-repeat top left;}
.aircorp-logo-QX { width:28px; height:28px; background: url(../images/qx.gif) no-repeat top left;}
.aircorp-logo-RA { width:28px; height:28px; background: url(../images/ra.gif) no-repeat top left;}
.aircorp-logo-RB { width:28px; height:28px; background: url(../images/rb.gif) no-repeat top left;}
.aircorp-logo-RC { width:28px; height:28px; background: url(../images/rc.gif) no-repeat top left;}
.aircorp-logo-RG { width:28px; height:28px; background: url(../images/rg.gif) no-repeat top left;}
.aircorp-logo-RJ { width:28px; height:28px; background: url(../images/rj.gif) no-repeat top left;}
.aircorp-logo-RO { width:28px; height:28px; background: url(../images/ro.gif) no-repeat top left;}
.aircorp-logo-S2 { width:28px; height:28px; background: url(../images/s2.gif) no-repeat top left;}
.aircorp-logo-S4 { width:28px; height:28px; background: url(../images/s4.gif) no-repeat top left;}
.aircorp-logo-S7 { width:28px; height:28px; background: url(../images/s7.gif) no-repeat top left;}
.aircorp-logo-SA { width:28px; height:28px; background: url(../images/sa.gif) no-repeat top left;}
.aircorp-logo-HO { width:28px; height:28px; background: url(../images/ho.gif) no-repeat top left;}
.aircorp-logo-SJ { width:28px; height:28px; background: url(../images/sj.gif) no-repeat top left;}
.aircorp-logo-SK { width:28px; height:28px; background: url(../images/sk.gif) no-repeat top left;}
.aircorp-logo-SN { width:28px; height:28px; background: url(../images/sn.gif) no-repeat top left;}
.aircorp-logo-SQ { width:28px; height:28px; background: url(../images/sq.gif) no-repeat top left;}
.aircorp-logo-SU { width:28px; height:28px; background: url(../images/su.gif) no-repeat top left;}
.aircorp-logo-SV { width:28px; height:28px; background: url(../images/sv.gif) no-repeat top left;}
.aircorp-logo-SW { width:28px; height:28px; background: url(../images/sw.gif) no-repeat top left;}
.aircorp-logo-SY { width:28px; height:28px; background: url(../images/sy.gif) no-repeat top left;}
.aircorp-logo-T7 { width:28px; height:28px; background: url(../images/t7.gif) no-repeat top left;}
.aircorp-logo-T9 { width:28px; height:28px; background: url(../images/t9.gif) no-repeat top left;}
.aircorp-logo-TA { width:28px; height:28px; background: url(../images/ta.gif) no-repeat top left;}
.aircorp-logo-TE { width:28px; height:28px; background: url(../images/te.gif) no-repeat top left;}
.aircorp-logo-TG { width:28px; height:28px; background: url(../images/tg.gif) no-repeat top left;}
.aircorp-logo-TK { width:28px; height:28px; background: url(../images/tk.gif) no-repeat top left;}
.aircorp-logo-TL { width:28px; height:28px; background: url(../images/tl.gif) no-repeat top left;}
.aircorp-logo-TN { width:28px; height:28px; background: url(../images/tn.gif) no-repeat top left;}
.aircorp-logo-TP { width:28px; height:28px; background: url(../images/tp.gif) no-repeat top left;}
.aircorp-logo-TR { width:28px; height:28px; background: url(../images/tr.gif) no-repeat top left;}
.aircorp-logo-TS { width:28px; height:28px; background: url(../images/ts.gif) no-repeat top left;}
.aircorp-logo-TT { width:28px; height:28px; background: url(../images/tt.gif) no-repeat top left;}
.aircorp-logo-TU { width:28px; height:28px; background: url(../images/tu.gif) no-repeat top left;}
.aircorp-logo-TX { width:28px; height:28px; background: url(../images/tx.gif) no-repeat top left;}
.aircorp-logo-U2 { width:28px; height:28px; background: url(../images/u2.gif) no-repeat top left;}
.aircorp-logo-U5 { width:28px; height:28px; background: url(../images/u5.gif) no-repeat top left;}
.aircorp-logo-U6 { width:28px; height:28px; background: url(../images/u6.gif) no-repeat top left;}
.aircorp-logo-UA { width:28px; height:28px; background: url(../images/ua.gif) no-repeat top left;}
.aircorp-logo-UL { width:28px; height:28px; background: url(../images/ul.gif) no-repeat top left;}
.aircorp-logo-UN { width:28px; height:28px; background: url(../images/un.gif) no-repeat top left;}
.aircorp-logo-US { width:28px; height:28px; background: url(../images/us.gif) no-repeat top left;}
.aircorp-logo-V7 { width:28px; height:28px; background: url(../images/v7.gif) no-repeat top left;}
.aircorp-logo-VF { width:28px; height:28px; background: url(../images/vf.gif) no-repeat top left;}
.aircorp-logo-VN { width:28px; height:28px; background: url(../images/vn.gif) no-repeat top left;}
.aircorp-logo-VR { width:28px; height:28px; background: url(../images/vr.gif) no-repeat top left;}
.aircorp-logo-VS { width:28px; height:28px; background: url(../images/vs.gif) no-repeat top left;}
.aircorp-logo-VV { width:28px; height:28px; background: url(../images/vv.gif) no-repeat top left;}
.aircorp-logo-VZ { width:28px; height:28px; background: url(../images/vz.gif) no-repeat top left;}
.aircorp-logo-W5 { width:28px; height:28px; background: url(../images/w5.gif) no-repeat top left;}
.aircorp-logo-W6 { width:28px; height:28px; background: url(../images/w6.gif) no-repeat top left;}
.aircorp-logo-WS { width:28px; height:28px; background: url(../images/ws.gif) no-repeat top left;}
.aircorp-logo-WV { width:28px; height:28px; background: url(../images/wv.gif) no-repeat top left;}
.aircorp-logo-WY { width:28px; height:28px; background: url(../images/wy.gif) no-repeat top left;}
.aircorp-logo-X3 { width:28px; height:28px; background: url(../images/x3.gif) no-repeat top left;}
.aircorp-logo-X5 { width:28px; height:28px; background: url(../images/x5.gif) no-repeat top left;}
.aircorp-logo-XF { width:28px; height:28px; background: url(../images/xf.gif) no-repeat top left;}
.aircorp-logo-XK { width:28px; height:28px; background: url(../images/xk.gif) no-repeat top left;}
.aircorp-logo-XM { width:28px; height:28px; background: url(../images/xm.gif) no-repeat top left;}
.aircorp-logo-YK { width:28px; height:28px; background: url(../images/yk.gif) no-repeat top left;}
.aircorp-logo-YM { width:28px; height:28px; background: url(../images/ym.gif) no-repeat top left;}
.aircorp-logo-YV { width:28px; height:28px; background: url(../images/yv.gif) no-repeat top left;}
.aircorp-logo-YX { width:28px; height:28px; background: url(../images/yx.gif) no-repeat top left;}
.aircorp-logo-Z2 { width:28px; height:28px; background: url(../images/z2.gif) no-repeat top left;}
.aircorp-logo-ZE { width:28px; height:28px; background: url(../images/ze.gif) no-repeat top left;}
.aircorp-logo-ZI { width:28px; height:28px; background: url(../images/zi.gif) no-repeat top left;}
.aircorp-logo-ZL { width:28px; height:28px; background: url(../images/zl.gif) no-repeat top left;}
.aircorp-logo-ZU { width:28px; height:28px; background: url(../images/zu.gif) no-repeat top left;}
.aircorp-logo-8L { width:28px; height:28px; background: url(../images/8l.gif) no-repeat top left;}
.aircorp-logo-9C { width:28px; height:28px; background: url(../images/9c.gif) no-repeat top left;}
.aircorp-logo-BK { width:28px; height:28px; background: url(../images/bk.gif) no-repeat top left;}
.aircorp-logo-CN { width:28px; height:28px; background: url(../images/cn.gif) no-repeat top left;}
.aircorp-logo-EU { width:28px; height:28px; background: url(../images/eu.gif) no-repeat top left;}
.aircorp-logo-G5 { width:28px; height:28px; background: url(../images/g5.gif) no-repeat top left;}
.aircorp-logo-GS { width:28px; height:28px; background: url(../images/gs.gif) no-repeat top left;}
.aircorp-logo-JR { width:28px; height:28px; background: url(../images/jr.gif) no-repeat top left;}
.aircorp-logo-KN { width:28px; height:28px; background: url(../images/kn.gif) no-repeat top left;}
.aircorp-logo-OQ { width:28px; height:28px; background: url(../images/oq.gif) no-repeat top left;}
.aircorp-logo-PN { width:28px; height:28px; background: url(../images/pn.gif) no-repeat top left;}
.aircorp-logo-SC { width:28px; height:28px; background: url(../images/sc.gif) no-repeat top left;}
.aircorp-logo-ZH { width:28px; height:28px; background: url(../images/zh.gif) no-repeat top left;}
.aircorp-logo-JD { width:28px; height:28px; background: url(../images/jd.gif) no-repeat top left;}
.aircorp-logo-VD { width:28px; height:28px; background: url(../images/vd.gif) no-repeat top left;}
.aircorp-logo-NS { width:28px; height:28px; background: url(../images/ns.gif) no-repeat top left;}
.aircorp-logo-KY { width:28px; height:28px; background: url(../images/ky.jpg) no-repeat top left;}
.aircorp-logo-TV { width:28px; height:28px; background: url(../images/tv.gif) no-repeat top left;}
.aircorp-logo-GJ { width:28px; height:28px; background: url(../images/gj.gif) no-repeat top left;}