<!-- 公用的头部文件 -->            
<!--顶部  -->
<div id="toolbar">
    <div class="cw1200">
        <ul class="fl">
            <li class="tb"><p>您好，欢迎来到中国梦想游，让你的梦想全程免费自由行！</p></li>
            {if (empty($Think.session.username))}
             <li class="tb"><a href="{:url('index/user/login')}">登录</a><span>|</span></li>
            <li class="tb"><a href="{:url('index/user/register')}">注册</a></li>
            {/if} 
        </ul>
        
        <ul class="fr">
            <li class="tb">
                {if (empty($Think.session.username))}
                <a href="javascript:alert('请先去登录或注册，才能进入个人中心！')">我的梦想游</a>
                {else}
                    {if ($flag)}
                    <a href="{:url('index/userinfo/my_index')}">{$Think.session.username}
                    </a>
                    {else}
                    <a href="javascript:alert('系统检测到你是通过手机号动态登录，没有权限进入个人中心，请尽快注册为会员！')">{$Think.session.username}</a>
                    <a href="{:url('index/user/loginOut')}">&nbsp;&nbsp;退出</a>
                    {/if}
                {/if} 
                <!-- 用户 -->
                <div class="user">
                    {if ($flag)}
                    <a class="user-hd">
                        {if (empty($u['icon']) || empty($Think.session.username))}
                        <img src="/static/index/images/user_head_pic.jpg"/><b></b>
                        {else}
                        <img src="{$u['icon']}"/><b></b>
                        {/if}
                        <div class="clear"></div>
                    </a>
                    {/if}
                    {if (!empty($Think.session.username))}
                    <div class="user-bd">
                        <div class="integral">
                        
                        <img src="/static/index/images/integral_ico.png"/>

                        当前积分 {$u['score']}</div>
                        <ul class="nav_sort">
                            <li><a href="{:url('index/userinfo/my_index')}"><i class="i1"></i>我的主页</a></li>
                            <li><a href="{:url('index/userinfo/write_note')}"><i class="i2"></i>写游记</a></li>
                            <li><a href="{:url('index/userinfo/my_note')}"><i class="i9"></i>我的游记</a></li>
                            <li><a href="{:url('index/userinfo/collection_list')}"><i class="i3"></i>我的收藏</a></li>
                            <li><a href="{:url('index/userinfo/project_order')}"><i class="i4"></i>商品订单</a></li>
                            <li><a href="{:url('index/userinfo/scenic_order')}"><i class="i5"></i>旅游订单</a></li>
                            <li><a href="{:url('index/userinfo/note_comments')}"><i class="i6"></i>我的评论</a></li>
                            <li><a href="{:url('index/userinfo/my_info')}"><i class="i7"></i>设置</a></li>
                            <li><a href="{:url('index/user/loginOut')}"><i class="i8"></i>退出</a></li>
                        </ul>
                    </div>
                    {/if}
                </div>
                <span>|</span>
            </li>
            <li class="tb"><a href="{:url('index/goods/shop_car',['flag' =>1])}"><i class="cart_ico"></i>购物车</a><span>|</span></li>
            <li class="tb"><a href="news_list.html">用户帮助中心</a><span>|</span></li>
            <li class="tb"><img src="/static/index/images/tel_ico.gif"/><font>40000-40000</font></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<!-- 版头-->
<div id="header">
    <div class="cw1200">
        <!-- logo-->
        <div class="logo fl"><a  href="{:url('index/index/index')}"><img title="中国梦想游" src="/static/index/images/logo.jpg"></a></div>
        <div class="search_nav fl">
            <!-- 搜索 -->
            <div class="search radius6">
                <form name="searchform" method="post" action="/e/search/index.php">
                    <input name='ecmsfrom' type='hidden' value='9'>
                    <input type="hidden" name="show" value="title,newstext">
                    <select name="classid" id="choose">
                        <option value="0">景区</option>
                        <option value="1">特产</option>
                        <option value="4">游记</option>
                        <option value="22">文章</option>
                    </select> 
                    <input class="inp_srh" name="keyboard"  placeholder="请输入您要搜索的关键词" >
                    <input class="btn_srh" type="submit" name="submit" value="搜索">
                </form>
            </div>
            <script type="text/javascript" src="/static/index/js/jquery.select.js"></script>
            