<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>我的主页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-------------jquery库-------------->
  	<script type="text/javascript" src="/static/index/js/jquery-1.8.3.min.js"></script>
	<!-------------Amazeui---------------->
    <script type="text/javascript" src="/static/index/js/amazeui.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/index/css/amazeui.css">
    <!------------核心样式-------------->
    <link rel="stylesheet" type="text/css" href="/static/index/css/user.css">    
</head>
<body>


<!-------------------版头-------------------->
<div id="header">
    <div class="cw1000">
        <!-------------------logo-------------------->
        <div class="logo"><a title="" href="index.html"></a></div>
		<!-------------------导航-------------------->
		<div class="nav">
			<ul>
				<li><a title="" href="{:url('index/index/index')}">首页</a><span>|</span></li>
				<li><a title="" href="{:url('index/scenery/index')}">旅游景点</a><span>|</span></li>
				<li><a title="" href="{:url('index/goods/index')}">地方特产</a><span>|</span></li>
				<li><a title="" href="{:url('index/group/index')}">旅游团购</a><span>|</span></li>
				<li><a title="" href="{:url('index/strategy/index')}">旅游攻略</a><span>|</span></li>
				<li><a title="" href="{:url('index/travel/index')}">行程导航</a><span>|</span></li>
				<div class="clear"></div>
			</ul>
		</div>
		<!-------------------用户-------------------->
		<div class="user">
			<a class="user-hd" href="#">
				{if !empty($myinfo['icon'])}
				<img src="{$myinfo['icon']}"/><b></b>
				{else}
				<img src="/static/index/images/user_head_pic.jpg"/><b></b>
				{/if}
				<div class="clear"></div>
			</a>
			<div class="user-bd">
                        <div class="integral"><img src="/static/index/images/integral_ico.png"/>当前积分 {$myinfo['score']}</div>
                        <ul class="nav_sort">
                            <li><a href="{:url('index/userinfo/my_index')}"><i class="i1"></i>我的主页</a></li>
                            <li><a href="{:url('index/userinfo/write_note')}"><i class="i2"></i>写游记</a></li>
                            <li><a href="{:url('index/userinfo/my_note')}"><i class="i9"></i>我的游记</a></li>
                            <li><a href="{:url('index/userinfo/collection_list')}"><i class="i3"></i>我的收藏</a></li>
                            <li><a href="{:url('index/userinfo/goods_order')}"><i class="i4"></i>商品订单</a></li>
                            <li><a href="{:url('index/userinfo/scenic_order')}"><i class="i5"></i>旅游订单</a></li>
                            <li><a href="{:url('index/userinfo/note_comments')}"><i class="i6"></i>我的评论</a></li>
                            <li><a href="{:url('index/userinfo/my_info')}"><i class="i7"></i>设置</a></li>
                            <li><a href="#"><i class="i8"></i>退出</a></li>
                        </ul>
                    </div>
		</div>
        <div class="clear"></div>
    </div>
</div>
<!-----------------用户banner---------------->
<div id="user_banner">
	<div class="pic">
		<a href="my_head.html">
				{if !empty($myinfo['icon'])}
				<img src="{$myinfo['icon']}"/><b></b>
				{else}
				<img src="/static/index/images/user_head_pic.jpg"/><b></b>
				{/if}
			<div>更换头像</div>
		</a>
	</div>
	<div class="con">
		<h2>{$myinfo['username']}</h2>
		<p>人生旅程，不同的是沿途风景以及看风景的心情</p>
	</div>
</div>
<!-----------------快捷导航---------------->
<div id="quick_nav">
	<a href="my_index.html"><span class="ico1"><img src="/static/index/images/nav_ico1.png"/></span>个人主页</a>
	<a href="write_note.html"><span class="ico2"><img src="/static/index/images/nav_ico2.png"/></span>发布游记</a>
	<a href="my_note.html"><span class="ico7"><img src="/static/index/images/nav_ico7.png"/></span>我的游记</a>
	<a href="collection_list.html"><span class="ico3"><img src="/static/index/images/nav_ico3.png"/></span>我的收藏</a>
	<a href="{:url('index/userinfo/goods_order')}"><span class="ico4"><img src="/static/index/images/nav_ico4.png"/></span>商品订单</a>
	<a href="scenic_order.html"><span class="ico5"><img src="/static/index/images/nav_ico5.png"/></span>旅游订单</a>
	<a href="note_comments.html"><span class="ico6"><img src="/static/index/images/nav_ico6.png"/></span>我的评论</a>
</div>
<!-----------------框架---------------->
<div class="cw1000">
	<div class="w280 fl">
		<div class="public_box">
			<!-----------------设置导航---------------->
			<div id="set_nav">
				<ul>
					<li><a href="my_info.html"><i class="ico1"></i>我的信息</a></li>
					<li><a href="my_head.html"><i class="ico2"></i>我的头像</a></li>
					<li><a href="my_contact.html"><i class="ico3"></i>常用联系人</a></li>
					<li><a class="cur" href="security.html"><i class="ico4"></i>修改密码</a></li>
				</ul>
			</div>
		</div>	
	</div>
	<div class="w700 fr">
		<div class="public_box">
			<!-----------------修改密码---------------->
			<div id="set_box">
				<div class="title"><h2>修改密码</h2></div>
				<table class="table_list">
					<tr>
						<th>旧密码：</th>
						<td><input class="text" type="password" value=""/></td>
					</tr>
					<tr>
						<th>新密码：</th>
						<td><input class="text" type="password" value=""/></td>
					</tr>
					<tr>
						<th>再次输入：</th>
						<td><input class="text" type="password" value=""/></td>
					</tr>
				</table>
				<div class="operation"><input type="submit" class="save" value="保存" /></div>
			
			</div>
		</div>	
	</div>
	<div class="clear"></div>
</div>
<!-----------------版底---------------->
<div id="footer">
	<p>河洛文化旅游发展有限公司 版权所有</p>
	<p>Copyright 2016 zgqygc.com All Rights Reserved | 豫ICP备10000000号　技术支持：闪迅</p>
</div>
</body>
</html>